.page-transition {
  animation-duration: 0.15s;
  animation-fill-mode: both;
  animation-timing-function: ease-out;
}

.page-transition.fadeOut {
  animation-name: fadeOutAnimation;
}

.page-transition.fadeIn {
  animation-name: fadeInAnimation;
}

@keyframes fadeOutAnimation {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadeInAnimation {
  from {
    opacity: 0;
    transform: translateY(5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
